extends layout

block content
	header#fh5co-header.fh5co-cover(role='banner', style='background-image:url(images/img_bg_2.jpg);')
		.overlay
			.container
				.row
					.col-md-10.col-md-offset-1.text-center
						.display-t
							.display-tc.animate-box(data-animate-effect='fadeIn')
								h2 Your addres is: #{address}
								h2 Your balance is: #{balance}